.home {
  background-color: rgba(135, 153, 92, 0.363);
  height: 93.61vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h2 {
  font-size: 40px;
  margin-top: 20px;
}

.home .itemsRow {
  display: flex;

  justify-content: center;
  width: 80%;
  border: 1px solid red;
}
